#hiddenCanvas{
	display: none;
}

canvas{
	border-style: solid; 
}

.legendColor{
	height:20px;
	width:20px;
	display: inline-block;
}
.legendLabel{
	display: inline-block;
	margin-right: 20px;
}

#mainCanvas{
	position: relative;
}

.tooltip{
	position: absolute;
	display: inline-block;
    border: 3px solid black;
	width: 250px;
    background: white;
}

.tooltipName{
	display: inline;
}

.tooltipYear{
	display: inline;
}

